* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}

/** {
    border-width: 1px;
    border-style: dotted;
    border-color: black;
}*/

/*------------------------------------------Body--------------------------------------*/
body {
    background-color: #94D9EA;
}

/*------------------------------------------main--------------------------------------*/
.main-content {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}

/*------------Partie Gauche-------------*/
/*profile*/
/*contact-info*/
/*compétence*/
/*langue*/

.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: #FE7A66;
    border-radius: 50px;
}

.left-content {
    padding: 2rem 3rem;
}

.profile {
    width: 100%;
}

.image {
    width: 100%;
    text-align: center;
}

.profile img {
    width: 100%;
    border-radius: 50%;

}

.name {
    font-size: 2rem;
    color: purple;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;
}

.career {
    font-size: 1.2rem;
    color: #071777;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.main-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #720707ec;
    padding-top: 3rem;
}

.contact-info ul {
    padding-top: 2rem;
}

.contact-info ul li {
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: #f1f3f7;
}

.contact-info ul li i {
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #2D9CDB;
}

.skills-section ul {
    padding-top: 2rem;
}

.skills-section ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .4rem 0;
}

.progress-bar {
    width: 100%;
    height: .4rem;
    background-color: #2f81ed5b;
    position: relative;
    border-radius: 12px;
}

.progress {
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #2D9CDB;
    border-radius: 12px;
}

.js-progress {
    width: 70%;
}

.s-progress {
    width: 90%;
}

.j-progress {
    width: 85%;
}

.a-progress {
    width: 40%;
}

.php-progress {
    width: 63%;
}

.n-progress {
    width: 78%;
}

.hs-progress {
    width: 78%;
}

.wp-progress {
    width: 78%;
}

.j-progress {
    width: 20%;
}

.r-progress {
    width: 20%;
}

.skill-title {
    text-transform: uppercase;
    color: #f7f7f7;
    font-size: 1rem;
}

.langue-section ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .2rem 0;
}

.Langue-section li i {
    padding-right: .5rem;
    font-size: 1.2rem;
    color: #2D9CDB;
}

label {
    padding-right: 10px;
    font-size: 1rem;
    position: relative;

}

.fr-progress {
    width: 78%;
}

.an-progress {
    width: 20%;
}

.ar-progress {
    width: 20%;
}

.hob ul li {
    color: #fafafa;
}

/*-------------------------------------------Right-------------------------------------*/
/*a propos */
/*experience */
/*education*/
/**/
.right-section {
    grid-column: span 5;
    background-color: #f7f7f7;
    height: 100%;
    border-radius: 50px;
    margin-top: 5rem;


}

.about-sect {
    background-color: #FE7A66;
    margin-left: -4em;
    margin-right: -3em;
    margin-top: -4rem;
    padding: 2rem;
    border-radius: 100px 50px;
}


.right-main-content {
    padding: 2rem 3rem;
}

.right-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2F80ED;
    margin-bottom: .5rem;
    position: relative;
}

.about-sect:first-child {
    margin-bottom: 2rem;
}

.right-title::after {
    content: "";
    position: absolute;
    width: 50%;
    height: .2rem;
    background-color: #ccc;
    border-radius: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.para {
    line-height: 1.rem;
    color: #f6f8fa;
    font-size: 1.1rem;
}

.sect {
    padding-bottom: 2rem;

}

.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tl-title {
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #002333;
    text-transform: uppercase;
}

.tl-title-2 {
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #2D9CDB;
    text-transform: uppercase;
}

.tl-content {
    border-left: 1px solid #ccc;
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.tl-title-2::before {
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    background-color: #2D9CDB;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}

/*footer*/
footer {
    float: right;
    display: flex;
    align-items: center;
    position: relative;
    height: 10vh;
    width: 50rem;
    background-color: #d87568;
    justify-content: center;
    border-radius: 50px;
    color: #fff;
}

footer p a {
    text-decoration: none;
    color: inherit;
    color: #54c567;

}